.main-container {
  height: 100vh;
  width: 100vw;
}

.pattern-top img {
  width: 800px;
  position: absolute;
  top: -400px;
  left: -100px;
}
.pattern-bottom img {
  width: 1000px;
  position: absolute;
  top: 350px;
  left: 700px;
  opacity: none;
}
